#contingut {
    height:100vh;
    padding-top:2%;
    padding-bottom:2%;
}

.oculto {
  display:none;
}

#app {
align-items:center;
padding:8%;
background-image:url(img/blob3.svg);
background-size:content;
background-position:center;
background-repeat:no-repeat;
}

#titol {
    color:white;
}

.imagenrisas {
    text-align:center;
    width:150px;
    margin:auto;
    padding-bottom:5%;
    padding-top:5%;
}

.textacudit {
    color:white;
    font-size:22px;
}

#botoAcudit{
  background-color:rgba(255,255,255,0.01);
  color:black;
  border: solid 2px black;
  border-radius:25px;
  display: block;
  width: 100%;
  bottom:-5px;
  right:-5px;
  position:relative;

}

#ombraBotoacudit {
  border-radius:25px;
  background-color: #EDC951;
 
}

.columnapetita1 {
  background-image:url(img/blob.svg);
  background-size:content;
  background-position:center;
  background-repeat:no-repeat;
}

.columnapetita2 {
  background-image:url(img/blob2.svg);
  background-size:content;
  background-position:center;
  background-repeat:no-repeat;

}

.shakeit {

    -webkit-animation-name: wiggle;
    -ms-animation-name: wiggle;
    -ms-animation-duration: 1000ms;
    -webkit-animation-duration: 1000ms;
    -webkit-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;

}
  
  @-webkit-keyframes wiggle {
    0% {-webkit-transform: rotate(10deg);}
    25% {-webkit-transform: rotate(-10deg);}
    50% {-webkit-transform: rotate(20deg);}
    75% {-webkit-transform: rotate(-5deg);}
    100% {-webkit-transform: rotate(0deg);}
  }
  
  @-ms-keyframes wiggle {
    0% {-ms-transform: rotate(1deg);}
    25% {-ms-transform: rotate(-1deg);}
    50% {-ms-transform: rotate(1.5deg);}
    75% {-ms-transform: rotate(-5deg);}
    100% {-ms-transform: rotate(0deg);}
  }
  
  @keyframes wiggle {
    0% {transform: rotate(10deg);}
    25% {transform: rotate(-10deg);}
    50% {transform: rotate(20deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
  }